.title{
    color: white;
}

.bw1{
    color: white;
    float: center;
    margin-left: 300px;
}

.bw2{
    color: white;
    float: center;
    margin-left: 300px;
}

.bw3{
    color: White;
    float: center;
    margin-left: 300px;
}

.fc1{
    margin-left: 140px;
    width: 50vw;
    border-radius: 8px;
    height: 39px;
}

.fc2{
    margin-left: 132px;
    width: 50vw;
    border-radius: 8px;
    height: 39px;
}

.fc3{
    margin-left: 170px;
    width: 50vw;
    border-radius: 8px;
    height: 39px;
    color: white;
}

.class
{
    position: absolute;
    top: 495px;
    right: 430px;
    margin-left: 170px;
    width: 50vw;
    border-radius: 8px;
    height: 39px;
}

.mapClass{
    position: relative;
    margin-top: 25px;
    margin-left: 43vh;
}

.buttonClass{
    position: absolute;
    margin-top: 7px;
    margin-left: 915px;
}

.option1{
    position: absolute;
    color:white;
    margin-left: 437px;
    margin-top: -29px;
}

.option2{
    color:white;
    margin-left: 437px;
    margin-top: -29px;
}

.option3{
    color:white;
    margin-left: 437px;
    margin-top: -29px;
}

.option4{
    color:white;
    margin-left: 437px;
    margin-top: -29px;
}

.option5{
    color: white;
    margin-left: 437px;
    margin-top: -29px;
}