.main-footer {
    color: white;
    background-color: #007BFF;
    padding-top: 1em;
    max-width: 100%;
    overflow-x: hidden;
    width: 100vw;
    padding-left: 40vw;
    float: bottom;
  }
  .heart {
    position: relative;
    top: -4px;
    right: 4px;
  }
  .cat {
    position: relative;
    left: 6px;
    top: -1px;
  }


