.main-footer {
    color: white;
    background-color: #007BFF;
    padding-top: 1em;
    width: 98.3vw;
    padding-left: 40vw;
  }
  .heart {
    position: relative;
    top: -4px;
    right: 4px;
  }
  .cat {
    position: relative;
    left: 6px;
    top: -1px;
  }


